<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta name="generator" content="HTML Tidy, see www.w3.org">
<meta http-equiv="Content-Language" content="pt-br">
<meta name="author" content="Traduzido por Halley Pacheco de Oliveira - Câmara Municipal do Rio de Janeiro">
<meta name="description" content="PostgreSQL 8.0.0 - Funções e operadores para matrizes">
<title>Funções e operadores para matrizes</title>
<meta name="GENERATOR" content="Modular DocBook HTML Stylesheet Version 1.79">
<link rev="MADE" href="mailto:halleypo@users.sourceforge.net">
<link rel="HOME" title="Documentação do PostgreSQL 8.0.0" href="index.html">
<link rel="UP" title="Funções e Operadores" href="functions.html">
<link rel="PREVIOUS" title="Expressões condicionais" href="functions-conditional.html">
<link rel="NEXT" title="Funções de agregação" href="functions-aggregate.html">
<link rel="STYLESHEET" type="text/css" href="stylesheet.css">
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta name="creation" content="2007-04-09T21:40:30">
</head>
<body class="SECT1">
<div id="docHeader">
<div id="docHeaderLogo"><a href="http://pgdocptbr.sourceforge.net" title="Projeto pgdocptbr no SourceForge"><img src="./cab_logo.png" width="206" height="80" alt="Projeto pgdocptbr no SourceForge"></a></div>
</div>

<div>
</div>

<div class="NAVHEADER">
<table summary="Header navigation table" width="100%" border="0" cellpadding="0" cellspacing="0">
<tr>
<th colspan="5" align="center" valign="bottom">Documentação do PostgreSQL 8.0.0</th>
</tr>

<tr>
<td width="10%" align="left" valign="top"><a href="functions-conditional.html" accesskey="P">Anterior</a> </td>
<td width="10%" align="left" valign="top"><a href="functions.html">Início</a> </td>
<td width="60%" align="center" valign="bottom">Capítulo 9. Funções e Operadores</td>
<td width="10%" align="right" valign="top"><a href="functions.html">Fim</a> </td>
<td width="10%" align="right" valign="top"><a href="functions-aggregate.html" accesskey="N">Próxima</a> </td>
</tr>
</table>

<hr align="LEFT" width="100%">
</div>

<div class="SECT1">
<h1 class="SECT1"><a name="FUNCTIONS-ARRAY">9.14. Funções e operadores para matrizes</a></h1>


<p>A <a href="functions-array.html#ARRAY-OPERATORS-TABLE">Tabela 9-37</a> mostra os operadores disponíveis para o tipo <span class="TYPE">array</span>.</p>

<div class="TABLE"><a name="ARRAY-OPERATORS-TABLE"></a> 

<p><b>Tabela 9-37. Operadores para o tipo array</b></p>

<table border="1" class="CALSTABLE">
<col>
<col>
<col>
<col>
<thead>
<tr>
<th>Operador</th>
<th>Descrição</th>
<th>Exemplo</th>
<th>Resultado</th>
</tr>
</thead>

<tbody>
<tr>
<td><span class="LITERAL">=</span> </td>
<td>igual</td>
<td><span class="LITERAL">ARRAY[1.1,2.1,3.1]::int[] = ARRAY[1,2,3]</span></td>
<td><span class="LITERAL">t</span></td>
</tr>

<tr>
<td><span class="LITERAL">&lt;&gt;</span> </td>
<td>diferente</td>
<td><span class="LITERAL">ARRAY[1,2,3] &lt;&gt; ARRAY[1,2,4]</span></td>
<td><span class="LITERAL">t</span></td>
</tr>

<tr>
<td><span class="LITERAL">&lt;</span> </td>
<td>menor</td>
<td><span class="LITERAL">ARRAY[1,2,3] &lt; ARRAY[1,2,4]</span></td>
<td><span class="LITERAL">t</span></td>
</tr>

<tr>
<td><span class="LITERAL">&gt;</span> </td>
<td>maior</td>
<td><span class="LITERAL">ARRAY[1,4,3] &gt; ARRAY[1,2,4]</span></td>
<td><span class="LITERAL">t</span></td>
</tr>

<tr>
<td><span class="LITERAL">&lt;=</span> </td>
<td>menor ou igual</td>
<td><span class="LITERAL">ARRAY[1,2,3] &lt;= ARRAY[1,2,3]</span></td>
<td><span class="LITERAL">t</span></td>
</tr>

<tr>
<td><span class="LITERAL">&gt;=</span> </td>
<td>maior ou igual</td>
<td><span class="LITERAL">ARRAY[1,4,3] &gt;= ARRAY[1,4,3]</span></td>
<td><span class="LITERAL">t</span></td>
</tr>

<tr>
<td><span class="LITERAL">||</span> </td>
<td>concatenação de matriz com matriz</td>
<td><span class="LITERAL">ARRAY[1,2,3] || ARRAY[4,5,6]</span></td>
<td><span class="LITERAL">{1,2,3,4,5,6}</span></td>
</tr>

<tr>
<td><span class="LITERAL">||</span> </td>
<td>concatenação de matriz com matriz</td>
<td><span class="LITERAL">ARRAY[1,2,3] || ARRAY[[4,5,6],[7,8,9]]</span></td>
<td><span class="LITERAL">{{1,2,3},{4,5,6},{7,8,9}}</span></td>
</tr>

<tr>
<td><span class="LITERAL">||</span> </td>
<td>concatenação de elemento com matriz</td>
<td><span class="LITERAL">3 || ARRAY[4,5,6]</span></td>
<td><span class="LITERAL">{3,4,5,6}</span></td>
</tr>

<tr>
<td><span class="LITERAL">||</span> </td>
<td>concatenação de matriz com elemento</td>
<td><span class="LITERAL">ARRAY[4,5,6] || 7</span></td>
<td><span class="LITERAL">{4,5,6,7}</span></td>
</tr>
</tbody>
</table>
</div>

<p>Consulte a <a href="arrays.html">Seção 8.10</a> para obter informações adicionais sobre o comportamento dos operadores de matriz.</p>

<p>A <a href="functions-array.html#ARRAY-FUNCTIONS-TABLE">Tabela 9-38</a> mostra as funções disponíveis para uso com o tipo <span class="TYPE">array</span>. Veja na <a href="arrays.html">Seção 8.10</a> uma discussão mais detalhada e exemplos de uso destas funções.</p>

<div class="TABLE"><a name="ARRAY-FUNCTIONS-TABLE"></a> 

<p><b>Tabela 9-38. Funções para o tipo array</b></p>

<table border="1" class="CALSTABLE">
<col>
<col>
<col>
<col>
<col>
<thead>
<tr>
<th>Função</th>
<th>Tipo retornado</th>
<th>Descrição</th>
<th>Exemplo</th>
<th>Resultado</th>
</tr>
</thead>

<tbody>
<tr>
<td><span class="LITERAL"><span class="FUNCTION">array_cat</span> (<span class="TYPE">anyarray</span>, <span class="TYPE">anyarray</span>)</span> </td>
<td><span class="TYPE">anyarray</span></td>
<td>concatena duas matrizes</td>
<td><span class="LITERAL">array_cat(ARRAY[1,2,3], ARRAY[4,5])</span></td>
<td><span class="LITERAL">{1,2,3,4,5}</span></td>
</tr>

<tr>
<td><span class="LITERAL"><span class="FUNCTION">array_append</span> (<span class="TYPE">anyarray</span>, <span class="TYPE">anyelement</span>)</span> </td>
<td><span class="TYPE">anyarray</span></td>
<td>anexa um elemento no final de uma matriz</td>
<td><span class="LITERAL">array_append(ARRAY[1,2], 3)</span></td>
<td><span class="LITERAL">{1,2,3}</span></td>
</tr>

<tr>
<td><span class="LITERAL"><span class="FUNCTION">array_prepend</span> (<span class="TYPE">anyelement</span>, <span class="TYPE">anyarray</span>)</span> </td>
<td><span class="TYPE">anyarray</span></td>
<td>anexa um elemento no início de uma matriz</td>
<td><span class="LITERAL">array_prepend(1, ARRAY[2,3])</span></td>
<td><span class="LITERAL">{1,2,3}</span></td>
</tr>

<tr>
<td><span class="LITERAL"><span class="FUNCTION">array_dims</span> (<span class="TYPE">anyarray</span>)</span> </td>
<td><span class="TYPE">text</span></td>
<td>retorna a representação textual das dimensões da matriz</td>
<td><span class="LITERAL">array_dims(array[[1,2,3], [4,5,6]])</span></td>
<td><span class="LITERAL">[1:2][1:3]</span></td>
</tr>

<tr>
<td><span class="LITERAL"><span class="FUNCTION">array_lower</span> (<span class="TYPE">anyarray</span>, <span class="TYPE">integer</span>)</span> </td>
<td><span class="TYPE">integer</span></td>
<td>retorna o limite inferior da dimensão especificada da matriz</td>
<td><span class="LITERAL">array_lower(array_prepend(0, ARRAY[1,2,3]), 1)</span></td>
<td><span class="LITERAL">0</span></td>
</tr>

<tr>
<td><span class="LITERAL"><span class="FUNCTION">array_upper</span> (<span class="TYPE">anyarray</span>, <span class="TYPE">integer</span>)</span> </td>
<td><span class="TYPE">integer</span></td>
<td>retorna o limite superior da dimensão especificada da matriz</td>
<td><span class="LITERAL">array_upper(ARRAY[1,2,3,4], 1)</span></td>
<td><span class="LITERAL">4</span></td>
</tr>

<tr>
<td><span class="LITERAL"><span class="FUNCTION">array_to_string</span> (<span class="TYPE">anyarray</span>, <span class="TYPE">text</span>)</span> </td>
<td><span class="TYPE">text</span></td>
<td>concatena os elementos da matriz utilizando o delimitador especificado</td>
<td><span class="LITERAL">array_to_string(array[1, 2, 3], '~^~')</span></td>
<td><span class="LITERAL">1~^~2~^~3</span></td>
</tr>

<tr>
<td><span class="LITERAL"><span class="FUNCTION">string_to_array</span> (<span class="TYPE">text</span>, <span class="TYPE">text</span>)</span> </td>
<td><span class="TYPE">text[]</span></td>
<td>divide uma cadeia de caracteres em elementos de matriz utilizando o delimitador especificado</td>
<td><span class="LITERAL">string_to_array( 'xx~^~yy~^~zz', '~^~')</span></td>
<td><span class="LITERAL">{xx,yy,zz}</span></td>
</tr>
</tbody>
</table>
</div>
</div>

<div class="NAVFOOTER">
<hr align="LEFT" width="100%">
<table summary="Footer navigation table" width="100%" border="0" cellpadding="0" cellspacing="0">
<tr>
<td width="33%" align="left" valign="top"><a href="functions-conditional.html" accesskey="P">Anterior</a> </td>
<td width="34%" align="center" valign="top"><a href="index.html" accesskey="H">Principal</a> </td>
<td width="33%" align="right" valign="top"><a href="functions-aggregate.html" accesskey="N">Próxima</a> </td>
</tr>

<tr>
<td width="33%" align="left" valign="top">Expressões condicionais</td>
<td width="34%" align="center" valign="top"><a href="functions.html" accesskey="U">Acima</a> </td>
<td width="33%" align="right" valign="top">Funções de agregação</td>
</tr>
</table>
</div>

<div><a href="http://sourceforge.net"><img id="imgSourceForge" src="http://sflogo.sourceforge.net/sflogo.php?group_id=130426&amp;type=1" alt="SourceForge.net Logo"></a> <a href="http://jigsaw.w3.org/css-validator/"><img id="imgW3C_CSS" src="http://jigsaw.w3.org/css-validator/images/vcss" alt="CSS válido!"></a></div>

<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-BHM1100TNC"></script>
<script>
 window.dataLayer = window.dataLayer || [];
 function gtag(){dataLayer.push(arguments);}
 gtag('js', new Date());
 
 gtag('config', 'G-BHM1100TNC');
</script>
</body>
</html>

